<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        List
      </h1>
      <div class="list-menu">
<!--        <a class="list-menu-item is-active">-->
<!--          <p>List #1</p>-->
<!--        </a>-->

        <a
          class="list-menu-item"
          *ngFor="let list of lists"
          (click)="getTasks(list.listId)"
          [class.is-active]="currentTask === list.listId"
        >
          <!-- [routerLink]="['/tasks/lists', list.listId]" -->
          <p>{{ list.listDescription }}</p>
        </a>
      </div>
      <!-- <button class="button is-primary" (click)="createNewList()"> -->
      <button
        class="button is-primary has-text-white"
        routerLink="/pages/new-list"
      >
        + Add List
      </button>
    </div>

    <div class="task-list-container has-background-light">
      <h1 class="title has-text-primary">
        Task
      </h1>
      <!--Task element-->
      <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)">
        <p>{{ task.taskTitle}}</p>

      </div>
     <div class="add-task" >
       <button
         class="button is-primary has-text-white" [routerLink]="currentRoute"

       >
         <!--         [routerLink]="['/user', user.id, 'details']"-->
         + Add Task
       </button>
     </div>
    </div>
  </div>
</div>
