<div class="centered-content">
  <div class="modal-box-task has-background-light" >
    <h1 class="title">
      Create a New Task
    </h1>
<div class="task-fields">
  <input class="input is-rounded " type="text" placeholder="Enter Task Tile" [(ngModel)]="newTask.taskTitle">
  <input class="input is-rounded" type="text" placeholder="Enter task Description"[(ngModel)]="newTask.taskDescription">
  <input class="input is-rounded" type="text" placeholder="Task type" [(ngModel)]="newTask.taskType">
  <input class="input is-rounded" type="text" placeholder="task Status" [(ngModel)]="newTask.taskStatus">
  <input class="input is-rounded" type="text" placeholder="Date Time" [(ngModel)]="newTask.createdDateTime">
</div>
    <br>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary"(click)="createTask()">Submit</button>
      </div>
      <div class="control">
        <button class="button is-link is-light" routerLink="/">Cancel</button>
      </div>
    </div>
  </div>
</div>

