.modal-box-task {
  min-height: 280px;
  width: 100%;
  max-width: 780px;
  background: white;
  border-radius: 5px;
  padding: 35px;
  border-top-right-radius: 8px;
  border-radius: 50px;
}
.task-fields {
  margin-top: 10px;
}
